/* Global */

/* Fonts 
font-family: 'Forum', cursive;
font-family: 'Inter', sans-serif;
*/
p,h1,h2,h3,h4 {
    margin: 0;
}

h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

html {
    max-width: 100%;
}

.page-body {
    min-height: 100%;
    margin: 0;
}

.icon-link {
    height: 28px;
    margin: 0;
}

/* Header */

.main-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    color: #fff;
    background-color: #0c0c0e;
}

.header-h{
    font-size: 30px;
    line-height: 50px;
    margin: 20px;
    font-family: 'Forum', cursive;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 20px 0px;
    gap: 30px;
    margin-right: 20px;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
}

.nav-link:hover {
    opacity: 0.5;
    transition: 1s;
}

.nav-icon {
    margin: 0px 20px;
}


/* Body */

.section-caption {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    width: 1400px;
    text-align: center;
    margin: 0 auto;
}

.section-h {
    text-align: center;
    margin: 20px 0px;
}

.underline {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background-color: #0C0C0E;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* Welcome */

.welcome {
    background-image: url(..//assets/background/welcome.jpg);
    background-size: cover;
    background-position: center center;  
    height: 600px;
}

.welcome-bg {
    padding: 35px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 600px;
    height: 220px;
    background: #0C0C0E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 220px;
    box-sizing: border-box;
}

.welcome-text {
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* About */

.About {
    color: #000;
    text-align: center;
}

.about-slider {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    justify-content: space-between;
}

.about-slider-image {
    height: 560px;
    width: 450px;
}

.about-slider-image:last-child {
    margin-right: 0px;
}

.slider-buttons {
    width: 68px;
    height: 16px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;

}

.slider-btn {
    display: inline-block;
    size: 16px;
    border-radius: 50%;
    border: 8px solid black;
    
}

.slider-btn:first-child {
    border-color: #BB945F;
}

/* Favorites */

.favorites-text {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
}

.favorites-list {
    width: 646px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    list-style: none;
    align-items: center;
}

.favorites-list-item{
    display: flex;
    align-items: center;
}

.fav-li-text {
    margin-left: 20px;
}

.favorites-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 60px;
}

.favorites-card {
    position: relative;
    border: 1px solid #0C0C0E;
    height: 555px;
    width: 550px;
    margin-bottom: 40px;
}

.favorites-card-header {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 15px 0px 0px 20px;

    border-bottom: #BB945F;
    
}

.fav-underline {
    margin-left: 20px;
    height: 1px;
    width: 61px;
    background-color: #BB945F;

    margin-bottom: 20px;
}

.fav-card-btn-cont{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.fav-card-btn {
    position: relative;
    bottom: 20px;
    left: 20px;

    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 0px;

    height: 30px;
    width: 75px;

    background: none;

    border-radius: 2px;
    border: 1px solid #0C0C0E;
}

.fav-card-btn-l {
    position: relative;
    bottom: 20px;
    left: 20px;

    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 0px;

    height: 30px;
    width: 75px;

    background: none;

    border-radius: 2px;
    border: 1px solid #BB945F;
}

.favorites-card-title {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px 0px 20px 20px;
}

.favorites-card-description {
    width: 355px;

    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;

    margin-left: 20px;
}

.fav-card-img {
    position: absolute;

    bottom: 0;
}

.favorites-card-img {
    width: 200px;
    height: 300px;

    position: relative;

    bottom: -5px;
    right: -380px;
    
}

/* Coffee Shop */

.Coffee_Shop-menu {
    margin: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-header {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize; 
}

.Coffee_Tea-menu{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.CT-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.menu-item-text{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;

    min-width: 196px;
}

.menu-line {
    width: 100px;
    height: 1px;
    background: #BB945F;
}

.menu-item-price {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.Desserts-menu {
    display: flex;
    width: 482px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
}

.D-menu-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
    text-align:end;
}

/* Contacts */

.contacts-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 201px;
    margin: 0px 20px 60px 20px;
}

.contacts-info-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.contacts-info-map{
    width: 696px;
    height: 414px;  
}

.contacts-info-text-item-s {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.contacts-info-text-item-s:first-child {
    margin-bottom: 40px;
}

.contacts-info-text-item {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

/* Digital Library Cards */

.library-cards{
    margin: 0px 20px 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.find-card-title{
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 30px;
    text-align: center;
}

.find-card-text {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    margin: 20px 0px 20px 20px;
}

.white-bg {
    width: 600px;
    height: 386px;
    flex-shrink: 0;
    border: 3px solid #BB945F;
    background: #FFF;   
    text-align: center;
}

.gold-bg {
    text-align: start;
    background: #BB945F;
    width: 560px;
    height: 272px;
    flex-shrink: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.find-card-input {
    margin-bottom: 25px;
    width: 520px;
    height: 66px;
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 10px;
    border: none;
    background: #FFF
}

.find-card-input::placeholder {
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.find-card-btn {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;

    display: inline-flex;
    padding: 10px 40px;
    align-items: flex-end;

    border-radius: 2px;
    border: 1px solid #0C0C0E;

    background-color: #FFF;

    justify-content: center;
}

.get-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.get-card-title {
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 35px;
}

.get-card-text {
    width: 456px;
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
    margin-bottom: 35px;
}

.get-card-btns {
    
}

.get-card-btn {
    color: #0C0C0E;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;

    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;

    border-radius: 2px;
    border: 1px solid #0C0C0E;

    width: 75px;

    background: none;
}

.get-card-btn:last-child {
    margin-left: 20px;
}

/* Footer */

.footer {
    background-color: #0c0c0e;
    height: 250px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    font-family: Inter;
}

.upper-footer-t {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0px 18.5px;
}

.upper-footer-t:first-child {
    padding-top: 20px;
    padding-bottom: 10px;
}

.upper-footer-t:last-child {
    padding-bottom: 30px;
}

.footer-left-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 0;
}

.footer-right-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    margin: 0;
}

.footer-social-media {
    gap: 15px;
}

.footer-line {
    height: 1px;
    background-color: #fff;
    margin: 0 20px;
}

.lower-footer {
    display: flex;
    justify-content: space-between;
    height: 22px;
    margin: 44px 20px;
}

.lower-footer-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
    margin: 0;
}